<div id="<%= dom_id note %>">
  <p>
    <strong>Body:</strong>
    <%#= note.body %>
    <%#= simple_format note.body %>
    <%#= markdown note.body %>
    <%= advanced_markdown note.body %>
  </p>

</div>
